name: CI
on:
  pull_request:
  push:
  
concurrency:
  group: "${{ github.event_name != 'push' && github.run_id || 'continuous-deployment' }}"
  cancel-in-progress: true 
  
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: repo file execution
        run: python3 main.py
